.item-table {
    display: flex;
    width: auto;
}
.item-table li {
    display: list-item;
    margin-top: 1%;
    padding-right: 2%;
}

.item-table li:nth-child(2) {
    display: unset;
}

.delete-btn {
    margin: 1em;
}