.header{
    display: flex;
    padding: 15px 20px;
}

.bi-list-nested{
    font-size:x-large;
}

.bi-list-nested:hover{
    background-color: rgb(233, 233, 233);
}

.dropDown-content{
    max-height: 0px;
    max-width: 0px;
    overflow: hidden;    
    transition: max-width 0.5s  ,max-height 0.5s ;

}

.bi-list-nested:hover > .dropDown-content{
    background-color: rgb(233, 233, 233);
    max-height: 500px;
    max-width: 500px;
}
