
.dropDown{
    text-decoration: none;
    color:red;
    top:25px;
    left:30px;
    position:absolute;

}

.bi-list-nested{
    font-size:35px;
}

.bi-list-nested:hover{
    border-radius: 10px;
    transition: 0.3s;
    background-color: rgb(233, 233, 233);
}

.dropDown-content{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    padding-top: 60px;
    white-space: nowrap;
    
}

.closebtn{
    color:white;
    padding-left: 200px;
}

.closebtn:hover{
    color:grey;
    transition: 0.3s;
}





